@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0b0b0b;
  color: #ffffff;
}

/* Mask */
.mask {
  mask-image: linear-gradient(to top, transparent, #121212);
}

.modal {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Video player style */
#player {
  transition: transform 0.3s ease;
}

/* Portrait mode */
@media (orientation: portrait) {
  #player {
    transform: rotate(90deg) scale(1.75);
    transform-origin: center center;
  }
}

/* Landscape mode */
@media (orientation: landscape) {
  #player {
    transform: none;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #FFD700;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6c200;
}

/* Main Loader */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #FFD700;
  box-shadow: 0 0 0 0 #FFD700;
  animation: l2 1.5s infinite linear;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #FFD700;
  animation: inherit;
  animation-delay: -0.5s;
}

.loader:after {
  animation-delay: -1s;
}

@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #FFD7002f;
  }
}

/* Search Loader */
.loader-search {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #FFD700;
  box-shadow: 0 0 0 0 #FFD700;
  animation: l3 1.5s infinite linear;
  position: relative;
}

.loader-search:before,
.loader-search:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #FFD700;
  animation: inherit;
  animation-delay: -0.5s;
}

.loader-search:after {
  animation-delay: -1s;
}

@keyframes l3 {
  100% {
    box-shadow: 0 0 0 30px #FFD7002f;
  }
}

/* Episodes Loader */
.loader-episode {
  width: 40px;
  aspect-ratio: 1;

  --c: linear-gradient(#FFD700 0 0);
  --r1: radial-gradient(farthest-side at bottom, #FFD700 93%, transparent);
  --r2: radial-gradient(farthest-side at top, #FFD700 93%, transparent);

  background:
    var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);

  background-repeat: no-repeat;
  animation: l4 1s infinite alternate;
}

/* LIGHT MODE */
html.light {
  background: #ffffff;
  color: #000000;
}

html.light body {
  background: #ffffff;
  color: #000000;
}

/* Fix cards / sections */
html.light .bg-black {
  background: #f1f1f1 !important;
  color: #000 !important;
}

/* Codes added */

@keyframes l4 {
  0%,25% {
    background-size: 8px 0, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px;

    background-position:
      0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px),
      50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px),
      100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }

  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px;

    background-position:
      0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px),
      50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px),
      100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }

  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px,
                     8px 100%, 8px 4px, 8px 4px,
                     8px 0, 8px 4px, 8px 4px;

    background-position:
      0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px),
      50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px),
      100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }

  95%,100% {
    background-size: 8px 100%, 8px 4px, 8px 4px,
                     8px 100%, 8px 4px, 8px 4px,
                     8px 100%, 8px 4px, 8px 4px;

    background-position:
      0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px),
      50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px),
      100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
  }
}
